**/nuspec.list
**/packages/
**/.sass-cache/
**/node_modules/
**/bower_components/
*/Performance/*TestResults.txt
**/bin
**/obj
**/*.log.1
**/*.log.*
*.log
*.db
*.user
*.suo
*.cache
*.pdb
.vs/
Publish/
/.vs
*.user
/WebApp/bin
/WebApp/obj
